.git/**
.github/**
.pixi/**
.ruff_cache/**
.vscode/**
.vscode-test/**
.gitignore
.nvmrc
.prettierignore
coverage/**
docs/**
demos/**
eslint.config.mjs
dist/**/*.test.js
dist/**/*.js.map
package-lock.json
pixi.lock
pixi.toml
prettier.config.mjs
src/**
*.vsix
tsconfig.json
